<div id="<%= dom_id timeslot %>">
  <p>
    <strong>Start time:</strong>
    <%= timeslot.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= timeslot.end_time %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= timeslot.slot_date %>
  </p>

</div>
